<partial.navigation/>
<div id="adminPages">
    <div id="adminContent">
        <div id="adminInnerContent">
            <h2>Recent Activities</h2>
            <div class="adminTable">
                <table>
                    <tr>
                        <th width="75%">Action</th>
                        <th width="25%">Time</th>
                    </tr>
                    <tr v-for="item in Logs">
                        <td>{{item.str_admin_user}} {{item.str_action}} <b>{{item.str_code}}</b></td>
                        <td>{{item.dat_insert_time}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/Resources/js/admin/index.js" async></script>