
# HTID:7069741: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
php_flag output_buffering on
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:7069741:

# REWRITE
RewriteEngine on
RewriteCond %{THE_REQUEST} .*
RewriteRule .* index.php [L,QSA]

# UPLOAD LIMIT
php_value upload_max_filesize 25M
php_value post_max_size 25M