
# HTID:7069741: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
php_flag output_buffering on
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:7069741:

# REWRITE
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [L,QSA]