a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    cursor: pointer;
}

body {
    background: url("/Resources/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    min-width: 1300px;
}

button {
    cursor: pointer;
    margin: 10px 0px;
    border: 1px #24446b solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
    transition: 300ms;
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3868A3;
}
button:hover {
    background-color: #24446b;
}
button.gray, button:disabled {
    border-color: gray;
    background-color: lightgray;
    color: #333333;
}
button.gray:hover {
    background-color: gray;
}
button.red {
    border-color: darkred;
    background-color: brown;
}
button.red:hover {
    background-color: darkred;
}

div.innerWindow {
    background-color: white; 
    position: absolute;
    top: 5px;
    left: 5px;
}

div.window {
    background-color: lightgray;
    box-shadow: 0px 0px 20px -5px black;
    padding: 10px;
    opacity: 0.8;
}
div.window input[type="text"], 
div.window input[type="password"], 
div.window button {
    width: 80%;
}

div.subMenu {
    z-index: 999;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 4px;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px -5px;
    padding: 15px 20px;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin: 0px 10px;
}

label {
    display: block;
    margin-right: 15px;
}
label.green {
    color: green;
}
label.red {
    color: red;
}

textarea {
    margin: 15px;
    height: 120px;
    resize: none;
    padding: 8px;
}

.absolute {
    position: absolute;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

.inline-block {
    display: inline-block;
}

.wrapper {
    position: relative;
}

#navigation {
    background-color: #F4F6F8;
    padding: 5px;
    background-image: linear-gradient(white, lightgray);
    opacity: 0.8;
}