<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<MetaKeywords/>"/>
    <meta name="description" content="<MetaDescription/>"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopPin</title>
    
    <if.Deployment equals="production">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <else.Deployment/>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
    </if.Deployment>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="/Resources/js/common.js"></script>

    <if.Environment equals="admin">
        <link rel="stylesheet" type="text/css" href="/Resources/css/admin.css" />
        <else.Environment/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/Resources/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/Resources/css/default-cart.css" />
        <link rel="stylesheet" type="text/css" href="/Resources/css/default-contents.css" />
        <link rel="stylesheet" type="text/css" href="/Resources/css/default-navigation.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    </if.Environment>
</head>
<body>
    <div id="container">
        <renderPage/>
    </div>
    <if.Environment equals="admin">
        <div id="loading" style="display:none;">
            <div class="display">Please wait...</div>
        </div>
        <else.Environment/>
        <div id="loading" style="display:none;"></div>
        <div id="addedCartModal" onclick="window.location = '/cart'">
            <h2>Item added to cart!</h2>
        </div>
    </if.Environment>
</body>
</html>