<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<MetaKeywords/>"/>
    <meta name="description" content="<MetaDescription/>"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <title>ShopPin</title>
    <link rel="stylesheet" type="text/css" href="/Resources/css/admin.css">
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.11/lodash.min.js"></script>
    <if.Deployment equals="production">
        <script src="https://unpkg.com/vue@2.6.9/dist/vue.min.js"></script>
        <else.Deployment/>
        <script src="https://unpkg.com/vue@2.6.9/dist/vue.js"></script>
    </if.Deployment>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/http-vue-loader@1.4.0/src/httpVueLoader.js"></script>
    <if.Environment equals="admin">
        <else.Environment/>
    </if.Environment>
</head>
<body>
    <renderPage/>
</body>
</html>