<partial.menu/>
<partial.categories/>
<div id="mainContent">
    <div id="breadCrumbs">
        <a href="/">Home</a> ›
        <Result><Result.str_name/></Result>
    </div>
    <div id="details">
        <hr/>
        <div id="detailsImagesDiv">
            <Result>
                <div class="slickImages">
                    <foreach.Result.ImagePaths>
                        <img class="images" src="<Result.ImagePaths.ImagePaths/>" />
                    </foreach.Result.ImagePaths>
                </div>
            </Result>
        </div>
        <div id="detailsContent">
            <Result>
                <h2><Result.str_name/></h2>
                <h3><Result.str_brand/></h3>
                <h1>₱<Result.dbl_price/></h1>
                <p><Result.txt_description/></p>
                <if.Result.int_amount notEquals="0">
                    <button v-on:click="PostCart('<Result.str_code/>')">Add to cart</button>    
                    <else.Result.int_amount/>
                    <button disabled>Out of stock</button>
                </if.Result.int_amount>
            </Result>
        </div>
    </div>
</div>
<script src="/Resources/js/front/detail.js" async></script>
<partial.footer/>