<partial.menu/>
<partial.categories/>
<div id="mainContent">
    <div id="breadCrumbs">
        <a href="/">Home</a> ›
        <a href="/cart">Cart</a> › Order
    </div>
    <hr/>
    <div id="cartInformation">
        <center>
            <table class="cartTable">
                <tr>
                    <th width="10%"></th>
                    <th width="60%">Item brand / name</th>
                    <th width="30%">Price</th>
                </tr>
                <tr v-for="item in Result">
                    <td><div class="cartImage" v-bind:style="'background-image: url(' + item.str_path + ')'"></div></td>
                    <td><a v-bind:href="'/detail/' + item.str_code">{{item.str_brand}} - {{item.str_name}}</a></td>
                    <td>₱{{item.dbl_price}} x {{item.int_amount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total price:</td>
                    <td>₱{{Total}}</td>
                </tr>
            </table>
        </center>
    </div>
    <div id="contactInformation"> 
        <p>Text boxes with asterisks are required inputs. Please dictate each accurately and exact as possible.</p>
        <h3>Contact Information</h3>
        <label class="red message">{{Messages["PhoneNumber"]}}</label>
        <input type="text" v-model="PhoneNumber" placeholder="Phone number" /><label class="red">*</label><br/>
        <label class="red message">{{Messages["Email"]}}</label>
        <input type="text" v-model="Email" placeholder="Email Address" /><label class="red">*</label><br/>
        <h3>Shipping Address</h3>
        <label class="red message">{{Messages["LastName"]}}</label>
        <input type="text" v-model="LastName" placeholder="Last name" class="short" /><label class="red">*</label><br/>
        <label class="red message">{{Messages["FirstName"]}}</label>
        <input type="text" v-model="FirstName" placeholder="First name" class="short" /><label class="red">*</label><br/>
        <label class="red message">{{Messages["Address"]}}</label>
        <input type="text" v-model="Address" placeholder="Complete Address (Blk, Lot, Street, Subd, Bldg)" /><label class="red">*</label><br/>
        <label class="red message">{{Messages["Barangay"]}}</label>
        <input type="text" v-model="Barangay" placeholder="Barangay" />
        <label class="red message">{{Messages["City"]}}</label>
        <input type="text" v-model="City" placeholder="City" class="short"  /><label class="red">*</label><br/>
        <label class="red message">{{Messages["PostalCode"]}}</label>
        <input type="text" v-model="PostalCode" placeholder="Postal code" class="short"  />
        <h3>Payment Method</h3>
        <p>
            Payment method will be 'Cash on Delivery' only. Please pay for the amount dictated from the cart summary at the right side when the item is delivered to the Address indicated.<br/><br/>
            <input type="checkbox" id="agree" onchange="document.getElementById('continue').disabled = !this.checked;" /><label for="agree">I've read the statement above and understood. I also deem to have read the terms of use and various policies and agreed to the content.</label><br/>
        </p>
        <center><button v-on:click="PostOrder" id="continue" disabled>Continue</button></center>
    </div>
    <div id="shadowModal" class="modal"></div>
    <div id="completeModal" class="modal">
        <center><h2>Order Completed!</h2></center>
        <p>Congratulations {{LastName}}, {{FirstName}}!</p>
        <p>Your order is now being processed. Please wait for a text message for your order fulfillment and shipping status.</p>
        <p>Your order number: <b>{{OrderNumber}}</b>. When there are problems, please use this order number when you contact us.</p>
        <center><button onclick="window.location='/';">Return to homepage.</button></center>
    </div>
</div>
<script src="/Resources/js/front/order.js" async></script>
<partial.footer/>