.menuImages {
    height: 25px;
    margin: -7px 3px;
}

/* ------------------ */
/* UPPER MENU - START */
/* ------------------ */
#menuUpper {
    background-color: white;
    padding: 20px 30px;
    overflow: auto;
}
#menuLogo {
    background: url("/Resources/images/shoppin-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    margin: -5px;
    width: 120px;
    cursor: pointer;
    display: inline-block;
}
#menuCartDiv {
    margin-top: 10px;
    float: right;
}
/* ---------------- */
/* UPPER MENU - END */
/* ---------------- */

/* ------------------ */
/* LOWER MENU - START */
/* ------------------ */
#menuLower {
    background-color: #B61820;
    padding: 10px 30px;
    overflow: hidden;
}
#menuLower a {
    font-size: 14px;
    text-decoration: underline;
    color: white;
}
#menuLower label {
    font-size: 14px;
    display: inline-block;
    color: white;
}
#menuNaviDiv a:hover {
    margin: 15px;
    color: lightgray;
}
#menuSearchDiv {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#menuSearch {
    border: none;
    border-radius: 5px;
    margin: 0px;
    width: 90%;
}
/* ---------------- */
/* LOWER MENU - END */
/* ---------------- */

/* ------------------ */
/* CATEGORIES - START */
/* ------------------ */
#categories {
    float: left;
    position: relative;
    width: 20%;
}
#categories .content {
    background-color: white;
    border-radius: 5px;
    margin: 15px;
}
#categories .links {
    padding: 10px;
}
#categories .header {
    border-radius: 5px 5px 0px 0px;
    background-color: #B61820;
    text-align: center;
    color: white;
    padding: 10px;
}
#categories input {
    border: none;
    background-color: white;
    width: 85%;
    margin: 5px;
}
/* ---------------- */
/* CATEGORIES - END */
/* ---------------- */

@media screen and (max-width: 1024px) {
    #menuLogo {
        margin-left: auto;
        margin-right: auto;
    }
    #menuCartDiv {
        float: unset;
    }
    #menuSearchDiv {
        width: 100%;
    }
    #categories {
        float: unset;
        min-height: unset;
        width: 100%;
    }
    #categories .content {
        display: inline-block;
        width: 90%;
        height: 40px;
        overflow: hidden;
    }
    #categories .content:hover {
        height: unset;
        overflow: unset;
    }
}