body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
    transition: 200ms;
}
    a:hover {
        color: gray;
    }

button {
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    transition: 300ms;
    display: inline-block;
    color: dimgray;
    border: 2px dimgray solid;
    background-color: transparent;
}
    button:hover {
        color: green;
        border-color: green;
    }

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
}

input[type="text"],
input[type="password"] {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    font-size: 15px;
    margin: 20px 0px;
    padding: 10px;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-17 {
    font-size: 17px;
}

.font-13 {
    font-size: 13px;
}

.itemImage-250 {
    width: 150px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.itemImage-50 {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.items {
    display: inline-block;
    margin: 0px 60px;
    text-align: center;
    width: 200px;
}

.margin-15 {
    margin: 15px;
}

#cartTable {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}

    #cartTable th, td {
        text-align: left;
        border-bottom: 1px solid lightgray;
        padding: 5px;
    }

#container {
    width: 1300px;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 30px
}

#headingText {
    font-size: 25px;
    font-weight: bolder;
    margin: 30px 0px;
    text-align: center;
}

#itemDetail {
    padding: 30px;
}

#itemImageDetail {
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#mainContent {
    float: left;
    margin: 30px;
    width: 1000px;
}

#navigation {
    position: relative;
    width: 200px;
    top: 30px;
}

#globalSearch {
    border: none;
    margin: 0px;
    width: 70%;
}

#userLogin {
    width: 300px;
    box-shadow: 0px 0px 15px -5px black;
    padding: 20px;
    margin: 20px;
}

    #userLogin input, button {
        width: 90%;
    }

@media screen and (max-width: 900px) {
    body {
        margin: auto;
    }
}