<div id="adminNavigation">
    <center><div id="shopPinLogo"></div></center><hr/>
    <label class="margin-15"><a href="/admin"><img src="/Resources/images/admin/home.png" class="navIcons" /> Home</a></label><hr/>
    <label class="margin-15"><a href="/admin/orders"><img src="/Resources/images/admin/orders.png" class="navIcons" /> Orders</a></label><hr/>
    <label class="margin-15"><a href="/admin/products"><img src="/Resources/images/admin/products.png" class="navIcons" /> Products</a></label><hr/>
    <label class="margin-15"><a href="/admin/customers"><img src="/Resources/images/admin/customers.png" class="navIcons" /> Customers</a></label><hr/>
    <label class="margin-15"><a href="/admin/analytics"><img src="/Resources/images/admin/analytics.png" class="navIcons" /> Analytics</a></label><hr/>
    <label class="margin-15"><a href="/admin/store"><img src="/Resources/images/admin/store.png" class="navIcons" /> Store</a></label><hr/>
    <label class="margin-15"><a v-on:click="Logout" href="#"><img src="/Resources/images/admin/logout.png" class="navIcons" /> Logout</a></label><hr/>
</div>
<script src="/Resources/js/admin/navigation.js" async></script>

<style>
    #shopPinLogo {
        background: url("/Resources/images/admin/shoppin-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 70px;
        width: 150px;
        margin-top: 25px;
        margin-bottom: -5px;
    }
    .navIcons {
        width: 12px;
        height: 12px;
    }
</style>