<h2>Call property</h2>
<Prop1/><hr/>
<h2>Foreach statement 1</h2>
<foreach.Prop2>
    <Prop2.Name/><br/>
</foreach.Prop2><hr/>
<h2>Foreach statement 2</h2>
<foreach.Prop2>
    <Prop2.Number/><br/>
</foreach.Prop2><hr/>
<h2>If statement 1</h2>
<if.Prop3>
    Hello World
    <else.Prop3/>
    Hello Earth
</if.Prop3><hr/>
<h2>If statement 2</h2>
<if.Prop3>
    Value is true
    <else.Prop3/>
    Value is false
</if.Prop3><hr/>
<h2>Object display 1</h2>
<Prop4>
    <Prop4.Name/>
</Prop4><hr/>
<h2>Object display 2</h2>
<Prop4>
    <Prop4.Number/>
</Prop4>