<partial.menu/>
<partial.categories/>
<div id="mainContent">
    <div id="breadCrumbs">
        <a href="/">Home</a> › 
        Tacking › 
        <OrderNumber/>
    </div>
    <hr/>
    <div id="tracking">
        <div>
            <center>
                <h1><Result><Result.str_order_status/></Result></h1>
                <br/>
                <Status>
                    <if.Status.NewOrder>
                        <img src="/Resources/images/tracking-1-active.png" />
                        <else.Status.NewOrder/>
                        <img src="/Resources/images/tracking-1.png" class="hideOnMobile" />
                    </if.Status.NewOrder>
                    <div class="hideOnMobile progress">🡆 🡆</div>
                    <if.Status.Processed>
                        <img src="/Resources/images/tracking-2-active.png" />
                        <else.Status.Processed/>
                        <img src="/Resources/images/tracking-2.png" class="hideOnMobile" />
                    </if.Status.Processed>
                    <div class="hideOnMobile progress">🡆 🡆</div>
                    <if.Status.OnDelivery>
                        <img src="/Resources/images/tracking-3-active.png" />
                        <else.Status.OnDelivery/>
                        <img src="/Resources/images/tracking-3.png" class="hideOnMobile" />
                    </if.Status.OnDelivery>
                    <div class="hideOnMobile progress">🡆 🡆</div>
                    <if.Status.Delivered>
                        <img src="/Resources/images/tracking-4-active.png" />
                        <else.Status.Delivered/>
                        <img src="/Resources/images/tracking-4.png" class="hideOnMobile" />
                    </if.Status.Delivered>
                </Status>
            </center>
        </div>
    </div>
    <div id="cartInformation">
        <center>
            <table class="cartTable">
                <tr>
                    <th width="10%"></th>
                    <th width="60%">Item brand / name</th>
                    <th width="30%">Price</th>
                </tr>
                <foreach.CartItems>
                    <tr>
                        <td><div class="cartImage" style="background-image:url('<CartItems.str_path/>')"></div></td>
                        <td><a href="/detail/<CartItems.str_code/>"><CartItems.str_brand/> - <CartItems.str_name/></a></td>
                        <td>₱<CartItems.dbl_price/> x <CartItems.int_amount/></td>
                    </tr>
                </foreach.CartItems>
                <tr>
                    <td></td>
                    <td>Total price:</td>
                    <td>₱<Result><Result.dbl_total/></Result></td>
                </tr>
            </table>
        </center>
    </div>
    <div id="contactInformation"> 
        <h3>Delivery Address</h3>
        <p>
            <Result>
                <Result.str_address/>,
                <Result.str_barangay/>,
                <Result.str_city/>,
                <Result.str_postal/>
            </Result>
        </p>
    </div>
</div>
<partial.footer/>